<div class="container">
  <div class="banner">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
  </div>
  <div class="cocktail-list">
    <div class="cocktail-heading">
      <h1> COCKTAILS </h1>
      <p>There are <%= @cocktails.count %> cocktails</p>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo? ? (cl_image_path cocktail.photo) : (cl_image_path("Mister Cocktail App/gintonic"))%>')">
              <div class="card-category"><%= cocktail.name %></div>
              <div class="card-description">
                <p>See more for ingredients</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>