<div class="container">
  <div class="banner">
    <!-- </%= cl_image_tag('mister cocktail app/banner', :class => 'banner') %> -->
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <!-- <div class="video_overlays">
    <h1>Cheers!</h1>
    </%= link_to 'Add your favourite', new_cocktail_path, class: 'btn btn-primary'  %>
  </div> -->
    <!--   <div class="banner-content"> -->
    <!-- <div class="video">
      <video autoplay loop id="video-background" muted plays-inline>
        <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
      </video>
    </div> -->
    <!--  </div> -->
  </div>
  <div class="cocktail-list">
    <div class="cocktail-heading">
      <h1> Cocktails </h1>
      <p>There are <%= @cocktails.count %> cocktails on this website</p>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card" style="background-image: url('<%= cocktail.photo? ? (cl_image_path cocktail.photo) : (cl_image_tag('mister cocktail app/gintonic'))%>')">
              <div class="card-category"><%= cocktail.name %></div>
              <div class="card-description">
                <p>See more</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>