<div class="container-fluid">
  <div class="row">
    <div class="banner">
      <div class="dark-overlay">
        <h3>Add your mad concoction</h3>
        <div class="form-new">
          <p><%= render 'form' %></p>
        </div>
      </div>
    </div>
  </div>
</div>