<div class="container">
  <div class="banner">
    <div class="page-center dark-overlay">
      <h1>Add your mad concoction</h1>
      <div class="form-new">
        <p><%= render 'form' %></p>
      </div>
    </div>
  </div>
</div>