// Specific CSS for your home-page

.container {
  margin: 0px;
  padding: 0px;
}

.cocktail-list {
  background-color: #fbf9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.cocktail-heading {
  display: flex;
  text-align: center;
  flex-direction: column;
}
