// .body-container {
//   max-width: 500px;
//   // margin: auto;
//   height: 100vh;
//   justify-content: center;
//   text-align: center;
// }

.btn {
  margin: 10px;
}

.img-round {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}
