<div class="footer">
  <div class="footer-copyright">
    <p>This footer is made by <a href="https://www.sophieli.com.au" target="_blank">Sophie Li</a> with <i class="fas fa-heart"></i> at <a href="https://www.lewagon.com" target="_blank"> Le Wagon, Shanghai</p>
    </div>
  </div>