.footer {
  background: #fbf9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.7);
  box-shadow: 2px -2px 3px -3px rgba(0,0,0,0.55);
  // transition: all 0.3s ease;
  position : relative;
}
.footer-links {
  display: flex;
  align-items: right;
}
.footer-links p {
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}

.footer .fa-heart {
  color: #D23333;
}
