/* Main navbar */

.navbar-wagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-white {
  color: black; // error: why is this not changing with navbar.js? tried removing navbar-wagon-link class too, does not work as well
  background-color: #fbf9fa;
  box-shadow: 1px 1px 4px #E6E6E6;
  margin-bottom: 10px;
}

/* Logo */
.navbar-wagon-brand {
  height: 50px;
  // color: white;
}

.fa-glass-cheers {
  color: #da552f;
  // color: white;
  padding: 10px;
  border: 1px solid transparent;
}

.fa-glass-cheers:hover {
  // color: #da552f;
  text-decoration: none;
  border: 1px solid #da552f;
  border-radius: 2px;
  padding: 10px;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  // color: #fbf9fa;
  font-size: 14px;
  color: #da552f;
}

.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
  border: 1px solid #da552f;
  border-radius: 2px;
}
